.supports{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
  
  }
  .supports div{
    display: flex;
    align-items: center;
  }