:root {
    --footer-bg: #212121;
    --footer-text: #f7f4f2;
    --footer-link-hover-transition: 0.3s ease;
  }
.footer {
  background-color: #212121;
  padding: 30px 20px;
  color: #f7f4f2;
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: #000;

}
.footer-logo p {
  font-size: 18px;
  padding: 10px 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin: 10px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.footer-item {
  margin-bottom: 15px;
  
}
.footer-item a{
    color: white;
    background: none;
  }

.footer-item a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex; 
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.footer-bottom .social-media a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.footer-bottom .social-media a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 576px) {
  .footer-logo{
    width: 50px;
    margin-bottom: 0;
  }
  .footer-logo img {
    width: 50px;
    height: 50px;
  }

  .footer-logo p {
    display: none;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .footer-logo img {
    width: 50px;
    height: 50px;
   
  }
  
  .footer-logo p {
    display: none;
  }
}

@media only screen and (min-width: 993px) {
  // Styles for desktop
}
