.google-map{
    display: flex;
    justify-content: center;
    background-color: #212121;
    
   }
   .google-map iframe{
    border-radius: 40px;
    margin-top: 30px;

   }
@media only screen and (max-width: 768px) {
    .google-map iframe {
        width: 90%;
        height: 300px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .google-map iframe {
        width: 80%;
        height: 400px;
    }
}

@media only screen and (min-width: 1025px) {
    .google-map iframe {
        width: 70%;
        height: 500px;
    }
}