.top {
  background-image: url(../../assets/img/benifits_of_weight_lifting_female_in_gym.webp);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  text-align: left;
  padding-bottom: 100px;
  padding-top: 100px;
  background-size: cover;
  background-position: center;
}

.title {
  max-width: 600px;
  text-align: left;
  margin-left: 50px;

  h2 {
    font-size: 80px;
  }
}

.subtext {
  font-size: 20px;
  max-width: 600px;
  padding-bottom: 20px;
  margin-left: 50px;
}

.inputform {
  display: flex;
  margin-left: 50px;

  input {
    border: 1px solid white;
    border-radius: 15px;
    width: 330px;
    height: 30px;
    font-size: 15px;
    text-align: center;

    &:hover {
      background-color: #f1eeee;
      border: none;
    }

    &:focus {
      background-color: #ffffff;
    }
  }
}

.active-but {
  border: 1px solid orangered;
  width: 200px;
  height: 35px;
  border-radius: 15px;
  color: white;
  background-color: #ff5722;

  &:hover {
    background-color: #e64a19;
  }
}